* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 90px;
}

body {
  background-image: url(images/nature1.jpg);
  background-position: cover;
  background-repeat: no-repeat;
}

.nav-bar {
  width: 100%;
  height: 100%;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  background-color: #1b5e20;
  font-family: "Franklin Gothic Medium";
  position: sticky;
}

.symbol {
  height: 100%;
  width: auto;
}

.symbol img {
  height: 100%;
  width: 60%;
  opacity: 0.5;
}

.symbol img:hover {
  opacity: 0.8;
}

.option {
  margin-left: auto;
  right: 3%;
  position: absolute;
  height: 100%;
}

.option li button {
  text-decoration: none;
  opacity: 0.9;
  color: #ffffff;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  font-family: sans-serif;
  border: none;
  background-color: #1b5e20;
  font-size: 24px;
  cursor: pointer;
  width: 100px;
}

.option ul li :hover {
  background-color: #81c784;
}

.option ul li {
  display: inline-block;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.dropdown {
  z-index: 5;
  position: absolute;
  right: 3%;
  width: 270px;
  height: 0px;
  background-color: #1b5e20;
  list-style-type: none;
  opacity: 0.8;
  visibility: hidden;
  overflow-y: hidden;
}

.dropdown button:hover {
  background-color: #81c784;
}

.dropdown p {
  color: #ffffff;
  position: absolute;
  bottom: 3px;
  margin-left: 45%;
}

.dropdown button {
  border: none;
  background-color: #1b5e20;
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
  margin: auto;
  width: 100%;
  border-bottom: 2px solid #808080;
  height: 50px;
}

.burgermenu {
  right: 5%;
  position: absolute;
  margin-top: 25px;
}

.burgermenu button {
  background-color: #1b5e20;
  border: none;
  cursor: pointer;
}

.burgermenu button i {
  font-size: 24px;
  color: #ffffff;
}

ul {
  list-style-type: none;
}

.content {
  width: 100%;
  height: 100%;
  position: absolute;
}

.about {
  width: 90%;
  height: 90%;
  color: #ffffff;
  box-shadow: 2px 2px #81c784;
  margin-top: 20px;
  margin-left: 60px;
  background-color: #1b5e20;
  opacity: 0.9;
  overflow-y: scroll;
  border-radius: 10px;
  scroll-padding: 10px;
  visibility: hidden;
}

.about h1,
.contact h1 {
  font-family: sans-serif;
  margin-top: 10px;
  margin-left: 10px;
  padding-bottom: 15px;
  position: static;
}

.about p {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  text-align: justify;
  margin-bottom: 5px;
}

@media screen and (max-width: 750px) {
  .option {
    display: none;
  }

  .about {
    width: 70%;
    height: 50%;
    margin-top: 20%;
  }
}

@media screen and (min-width: 751px) {
  .burgermenu {
    display: none;
  }

  .dropdown {
    display: none;
  }
}
